.select {
	position: relative;
	display: block;
	min-width: 220px;
	width: 100%;
	max-width: 100%;
}

.select__head {
	width: 100%;
	max-width: 100%;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 14px 15px;
	font-size: 14px;
	line-height: 18px;
	color: rgba(66, 67, 72, 0.8);
	cursor: pointer;
}

.select__head::after {
	width: 10px;
	height: 6px;
	background: #FFF url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='%23ED266A'/%3E%3C/svg%3E%0A") no-repeat center / cover;
	position: absolute;
	right: 20px;
	bottom: 50%;
	transform: translateY(50%);
	content: '';
	display: block;
	transition: .2s ease-in;
}

.select__head.open::after {
	transform: translateY(50%) rotate(180deg);
}

.select__list {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #F6F6F6;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin-top: 5px;
	max-height: 205px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 100;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #424348;
	scrollbar-color: dark;
	scrollbar-width: thin;
	overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
	width: 7px;
	background-color: #F8F9FA;
	padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #D9D9D9;
}

.select__list .select__item {
	position: relative;
	border-top: 1px solid rgba(224, 229, 231, 0.5);
	padding: 10px 15px;
	cursor: pointer;
	list-style-type: none;
}

.select__list .select__item:hover {
	background-color: rgba(224, 229, 231, 0.5);
}

#doctor-request-modal{
	width: 100%;
	max-width: 100%;

	position: relative;
}
#doctor-request-modal,
#doctor-request-modal #doctor-request-modal-questions-list{
	display: flex;
	flex-direction: column;
	gap: 12px;
}

#doctor-request-modal #doctor-request-modal-questions-list input.form-input{
	background-color: white;
	border: 1px solid #DCDDDE;
	border-radius: 26px;

	width: 100%;
	max-width: 100%;

	box-sizing: border-box;
	padding: 10px 16px;
	padding-left: 20px;
}
.required-input{
	position: relative;
}

input.form-input[required]::placeholder {
	color: gray; /* Цвет основного текста плейсхолдера */
	opacity: 1;
}

.required-input::after {
	content: "*";
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: red; /* Цвет звездочки */
	font-weight: bold;
}
#doctor-request-modal #doctor-request-modal-questions-list textarea.form-input{
	background-color: white;
	border: 1px solid #DCDDDE;
	width: 100%;
	max-width: 100%;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 10px 16px;
}
#doctor-request-modal #doctor-request-modal-questions-list input.form-input::placeholder{
	color: #212223;
}


#doctor-request-modal #doctor-request-modal-endform-wrapper{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
#doctor-request-modal #doctor-request-modal-endform-wrapper>input[type="submit"]{
	width: 100%;
	max-width: 100%;

	background-color: unset;
	height: 44px;

	font-size: 18px;

	border-radius: 36px;
	border: 1px solid black;

	transition: all 0.4s ease;
}
#doctor-request-modal #doctor-request-modal-endform-wrapper>input[type="submit"]:hover{
	color: white;
}
#doctor-request-modal #doctor-request-modal-endform-wrapper>#doctor-request-modal-checkbox{
	display: flex;
	gap: 7px;
	align-items: flex-start;
}
#doctor-request-modal #doctor-request-modal-endform-wrapper>#doctor-request-modal-checkbox>p>a{
	text-decoration: underline;
}

.success-checkmark {
	width: 80px;
	height: 115px;
	margin: 0 auto;
	margin-top: 10px;
}
.success-checkmark .check-icon {
	width: 80px;
	height: 80px;
	position: relative;
	border-radius: 50%;
	box-sizing: content-box;
	border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
	top: 3px;
	left: -2px;
	width: 30px;
	transform-origin: 100% 50%;
	border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
	top: 0;
	left: 30px;
	width: 60px;
	transform-origin: 0 50%;
	border-radius: 0 100px 100px 0;
	animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
	content: "";
	height: 100px;
	position: absolute;
	background: #F6F6F6fff;
	transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
	height: 5px;
	background-color: #4caf50;
	display: block;
	border-radius: 2px;
	position: absolute;
	z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
	top: 46px;
	left: 14px;
	width: 25px;
	transform: rotate(45deg);
	animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
	top: 38px;
	right: 8px;
	width: 47px;
	transform: rotate(-45deg);
	animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
	top: -4px;
	left: -4px;
	z-index: 10;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	box-sizing: content-box;
	border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
	top: 8px;
	width: 5px;
	left: 26px;
	z-index: 1;
	height: 85px;
	position: absolute;
	transform: rotate(-45deg);
	background-color: #F6F6F6fff;
}

@keyframes rotate-circle {
	0% {
		transform: rotate(-45deg);
	}
	5% {
		transform: rotate(-45deg);
	}
	12% {
		transform: rotate(-405deg);
	}
	100% {
		transform: rotate(-405deg);
	}
}
@keyframes icon-line-tip {
	0% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	54% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	70% {
		width: 50px;
		left: -8px;
		top: 37px;
	}
	84% {
		width: 17px;
		left: 21px;
		top: 48px;
	}
	100% {
		width: 25px;
		left: 14px;
		top: 45px;
	}
}
@keyframes icon-line-long {
	0% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	65% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	84% {
		width: 55px;
		right: 0px;
		top: 35px;
	}
	100% {
		width: 47px;
		right: 8px;
		top: 38px;
	}
}


#doctor-request-modal .success-alert-wrapper{
	position: absolute;
	z-index: 1;

	width: 100%;
	height: 100%;

	background-color: rgba(246,246,246,0.8);
}

#doctor-request-modal  .success-alert-wrapper>.success-data{
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}
#doctor-request-modal  .success-alert-wrapper>.success-data p{
	font-size: 18px;
	text-align: center;
}
#doctor-request-modal textarea,
#doctor-request-modal input{
	outline: none;
}