@font-face {
    font-family: 'TTDrugs-Regular';
    src: url('./fonts/ttdrugs-regular.eot'); /* IE 9 Compatibility Mode */
    src: url('./fonts/ttdrugs-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/ttdrugs-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/ttdrugs-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/ttdrugs-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/ttdrugs-regular.svg#ttdrugs-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Circe Bold';
    src: url('./fonts/circe_bold.eot'); /* IE 9 Compatibility Mode */
    src: url('./fonts/circe_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/circe_bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/circe_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/circe_bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/circe_bold.svg#circe_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Circe ExtraBold';
    src: url('./fonts/circe_extrabold.eot'); /* IE 9 Compatibility Mode */
    src: url('./fonts/circe_extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/circe_extrabold.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/circe_extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/circe_extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/circe_extrabold.svg#circe_extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Circe ExtraLight';
    src: url('./fonts/circe_extralight.eot'); /* IE 9 Compatibility Mode */
    src: url('./fonts/circe_extralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/circe_extralight.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/circe_extralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/circe_extralight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/circe_extralight.svg#circe_extralight') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Circe Light';
    src: url('./fonts/circe_light.eot'); /* IE 9 Compatibility Mode */
    src: url('./fonts/circe_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/circe_light.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/circe_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/circe_light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/circe_light.svg#circe_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Circe';
    src: url('./fonts/circe.eot'); /* IE 9 Compatibility Mode */
    src: url('./fonts/circe.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/circe.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/circe.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/circe.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/circe.svg#circe') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Circe Thin';
    src: url('./fonts/circe_thin.eot'); /* IE 9 Compatibility Mode */
    src: url('./fonts/circe_thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/circe_thin.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/circe_thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/circe_thin.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/circe_thin.svg#circe_thin') format('svg'); /* Chrome < 4, Legacy iOS */
}
p {
    text-indent: 0px;
}

@media (min-width: 992px){
    .tiny-nav{
        position:fixed;

    }
}
@media (max-width: 1120px) and (min-width: 992px) {
    .service-title{
        font-size: 20px !important;
    }

}
@media (max-width: 990px){
    #headerstic{

        position:relative;

    }
    .ihome-banner {
        display: none;
        height:0;
        top: -1500px;
    }
}
@media (max-width: 767px){
    .navbar-collapse {
        margin-top: 5px;
        width: 100%;
    }}
.service-title {
    min-height: 50px;
}
.contact2-cal{
    border: 1px solid #dcddde;
    width: 90%;
    padding: 11px 15px;
    color: #6d6d6d;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 25px;
}
.control-group img {
    width: 25px;
    height: 25px;
}
#blog-full-width-post ul, .our-facilities ul, .tab-content ul, .column-element ul, .collapse-widget-content ul, .test-box ul, .doctor_info ul{
    margin: 0px;
    padding: 5px;
}
#blog-full-width-post li, .our-facilities li, .tab-content li, .column-element li, .collapse-widget-content li, .test-box li, .doctor_info li{
    list-style-type: disc;
}

.blog-collapse-title {
    display: table !important;
    width: 95% !important;
}
.blog-collapse-title span{
    display: table-cell;
}

.blog-collapse-title .col-1{
    width: 80%;
}
.blog-collapse-title .col-2{
    width: 20%;
    text-align: right;
    min-width: 55px;
}


.dept-form.appointment-form .btn-7 {
    min-width: 150px;
}
#close {
    z-index: 999;
}
.banner {
    background: #F6F6F6 !important;
}
.services-page .service-title {
    font-size: 22px;
    line-height: 1.2em;
}
.service-title i.fa {
    color: #fff;
    float: left;
    font-size: 24px;
    height: 46px;
    line-height: 46px !important;
    margin-right: 15px;
    text-align: center;
    width: 46px;
}
.services-page .service-box > p {
    padding-top: 15px;
    height: 100px;
    overflow: hidden;
    text-indent: 0;
}
.services-page .service-title span{
    line-height: 1em;
}
body .dept-icon {
    font-size: 24px;
    line-height: 1.9em;
}


@media screen and (min-width: 992px) {
    body>header .topbar-info>.container{
        display: flex;
        align-items: center;
    }
    img.fa.head-social-icon {
        height: 30px;
    }
}

.banner_warning{
    font-size: 14px;
    line-height: 28px;
}
@media(min-width: 768px){
    .banner_warning{
        font-size: 18px;
        line-height: 24px;
    }
}
@media(min-width: 1200px){
    .banner_warning{
        font-size: 20px;
        line-height: 32px;
    }
}

body *{
    font-family: 'Circe'!important;
}
body p{
    font-family: 'Circe Light'!important;
    color: #212223!important;
}
#footer p{
    color: #bcbec0!important;
}

h2,
.bluebg-t2,
.whitebg-t2,
#news-list .subtitle{
    font-family: 'TTDrugs-Regular'!important;
}
 #text-block-separator p{
     color: #212223;
     font-weight: 400;
     font-size: 16px;
 }
 #services-list .service-title .fa{
     border-radius: 50%;
     background-color: white;
     border: 1px solid rgb(247, 167, 9);
     color: rgb(247, 167, 9);
 }
#services-list .service-title .fa:after{
    content: unset;
}

.dropdown-menu >li >a{
    white-space: normal!important;
}
.catagory-list li.selected a{
    text-decoration: underline;
}

#homepage-long-version-two .doctor-content-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#homepage-long-version-two .doctor-content-title h2,
#homepage-long-version-two .doctor-content-title p{
    text-align: center;
}
@media(min-width: 768px){
    #homepage-long-version-two .doctor-content-title{
        align-items: flex-start;
    }
    #homepage-long-version-two .doctor-content-title h2,
    #homepage-long-version-two .doctor-content-title p{
        text-align: left;
    }
}

#doctor-request-form-block>.container>.row{
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 12px;
    background: white;

    display: flex;
    justify-content: space-between;
}

#doctor-request-form-block #form-info{
    display: flex;
    flex-direction: column;

    max-width: 535px;
    gap: 20px;
}
#doctor-request-form-block #form-info>.image-wrapper>img{
    border-radius: 30px;
}
#doctor-request-form-block #form-info>.title-wrapper>.title{
    font-size: 32px;
    margin: 0;
}
#doctor-request-form-block #form-info>.description-wrapper>p{
    font-size: 16px;
}

footer#footer{
    background: #F6F6F6;
}

footer#footer #footer-column-1{
    display: flex;
    flex-direction: column;

    gap: 36px;
}
footer#footer #footer-column-1>.text{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
footer#footer #footer-column-1>.text>p{
    color: #868686;
    font-size: 15px;
}
footer#footer #footer-column-1>.text>a{
    font-size: 15px;
}
footer#footer .foot-widget-column-2{
    display: flex;
    flex-direction: column;
}
footer#footer .foot-widget-column-4 .title-wrapper>.title,
footer#footer .foot-widget-column-3 .title-wrapper>.title,
footer#footer .foot-widget-column-2 .title-wrapper>.title{
    font-size: 20px;
    color: #212223;
}
footer#footer .foot-widget-column-2 ul.navbar-nav{

}
footer#footer .foot-widget-column-2 ul.navbar-nav>li>a{
    padding: 7px;
    padding-left: 0;

    color: #212223;
    font-size: 16px;
}
footer#footer .foot-widget-column-2 ul.navbar-nav>li>a:hover{
    background-color: unset;
}

footer#footer .foot-widget-column-3>.data{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
footer#footer .foot-widget-column-3 .contacnt-footer-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
footer#footer .foot-widget-column-3 .contacnt-footer-item>.text{
    color: #212223;
    font-size: 16px;
    font-family: 'Circe Light'!important;
}
footer#footer .foot-widget-column-3>.data>.item>a{
    font-size: 16px;
}

footer#footer .foot-widget-column-4{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
footer#footer .foot-widget-column-4>.social-wrap-head>ul{
    display: flex;
    gap: 6px;
}


label>input[type="checkbox"]{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

label:has(input[type="checkbox"]) {
    align-items: center;
    user-select: none;
}
label:has(input[type="checkbox"])::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

label:has(input[type="checkbox"]:checked)::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
label:has(input[type="checkbox"]:not(:disabled):not(:checked)):hover::before {
    border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
label:has(input[type="checkbox"]:not(:disabled):active)::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
label:has(input[type="checkbox"]:focus)::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
label:has(input[type="checkbox"]:focus:not(:checked))::before {
    border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
label:has(input[type="checkbox"]:disabled)::before {
    background-color: #e9ecef;
}

#shedule_form .clinics .clinic .clinic_doctors .doctor{
    border-width: 0;
}
.appt-form,
#personal-index a>.doctor-box>.doctor-wrapper{
    background: white;
}
.about-intro-wrap{
    background: #f6f6f6;
}
#headerstic{
    background: #f6f6f6!important;
}
#phone_callback-modal{
    padding: 38px 50px;
    border-radius: 30px;
}
#phone_callback-modal>.form-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#phone_callback-modal>.form-body>.logo{
    margin: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
}
#phone_callback-modal>.form-body>.title{
    color: #212223;
    font-size: 27px;
    text-align: center;
}
#phone_callback-modal>.form-body>.desc{
    color: #212223;
    font-size: 16px;
    line-height: 20px;
}